.id{
    color: black;
    background-color:rgb(71, 111, 221);
}
.adresse {
    color: black;
    background-color:rgb(182, 51, 199);
}
.infos {
    color: black;
    background-color:rgb(197, 29, 29);
}